.Header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 30px 0 9px;
  background: var(--color-black);
  border-bottom: 1px solid var(--color-border);

  .Header__brand {
    display: flex;
    align-items: center;
  }

  .Header__chest {
    width: 72px;
    height: 72px;
  }

  .Header__title {
    margin-left: 10px;
    font-size: var(--font-size-3xl);
    font-weight: 900;
    line-height: 0.9;
    width: 130px;
  }

  .Header__title-accent {
    color: var(--color-yellow);
  }

  .Header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
  }

  .Header__link {
    font-size: var(--font-size-xl);
    font-weight: 800;
    letter-spacing: var(--tracking);
    padding: 9px 14px;
    border: 1px solid transparent;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.67);

    &.Header__link--active {
      color: var(--color-yellow);
      background: rgba(239, 202, 8, 0.1);
      border-color: var(--color-yellow);
      border-radius: 13px;
    }
  }

  .Header__avatar {
    display: flex;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 2px solid var(--color-text);
    align-items: center;
    justify-content: center;
  }

  .Header__avatar-img {
    width: 32px;
    height: 32px;
  }

  .Header__userButton {
    margin: 0 10px;
  }

  @media (max-width: 900px) {
    padding: 0 12px 0 6px;

    .Header__chest {
      width: 40px;
      height: 40px;
    }

    .Header__title {
      font-size: var(--font-size-base);
      width: auto;
      margin-left: 6px;
    }

    .Header__nav {
      gap: 6px;
    }

    .Header__link {
      font-size: var(--font-size-base);
      letter-spacing: 0.5px;
      padding: 6px 8px;

      &.Header__link--active {
        border-radius: 9px;
      }
    }

    .Header__avatar {
      width: 34px;
      height: 34px;
    }

    .Header__avatar-img {
      width: 25px;
      height: 25px;
    }
  }
}
